<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
</head>
<body>
<div id="main">
<h1 align="center">Welcome to login page</h1>
<br>
<form action="/login" method="post">
    <table align="center" cellpadding="5">
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" name="email" required=""></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" name="password" required=""></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
<!--    <input type="text" id="email" required="" >-->
<!--    <input type="text ">-->
</form>
<a href="/user_registration">New User? Register here</a>
</div>
</body>
</html>